[defaults]

forks=40

inventory=./inventory

remote_user=sysadmin

interpreter_python=auto_silent

deprecation_warnings=False

[privilege_escalation]

become=true

become_method=sudo

become_user=root

